<main class="landing-page">
  <section class="hero">
    <img src="/assets/logo/logo_red.svg" alt="SHKAF flower logo" class="hero-logo" width="23rem" height="auto">
    <h1 class="hero-title">SHKAF</h1>
  </section>

  <section class="grid-container">
    <div class="grid-item text large-heading">
      <h2 class="dynamic-welcome">Welcome dear!</h2>
      <p>
        This is a blog where I post my favorite fashion pieces and where they are from, runway shows I am most impressed
        by and other things that are inspiring me.
      </p>
    </div>

    <div class="grid-item gif">
      <img src="/assets/gif/gif_one.gif" alt="Gif slideshow" width="48" height="48">
    </div>

    <div class="grid-item gif">
      <img src="/assets/gif/gif_two.gif" alt="Gif slideshow" width="48" height="48">
    </div>

    <div class="grid-item text">
      <p>
        “SHKAF” - comes from “шкаф” - which means “closet” in Russian, symbolizes my personal dream wardrobe this blog
        represents.
      </p>
    </div>

    <div class="grid-item text">
      <p>
        On this website you can seek inspiration with selected items by me and save your favorites into your own fashion
        selection.
      </p>
    </div>

    <div class="grid-item gif">
      <img src="/assets/gif/gif_three.gif" alt="Gif slideshow" width="48" height="48">
    </div>
  </section>

  <div class="discover-button">
    <a href="/blog">
      <button>DISCOVER BLOG</button>
    </a>
  </div>
</main>
