<!doctype html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/assets/logo/logo_red.svg">
    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="navigation-logo">
          <img src="/assets/logo/logo_red.svg" alt="Logo" class="logo" width="48" height="48">
          <h1>SHKAF</h1>
        </div>
        <ul class="navigation-menu">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/about">About me</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/favorites">Your favorites</a></li>
        </ul>
      </nav>
    </header>

    {% include includeContent %}

    <button class="btn-theme-change" role="button"></button>
  </body>
</html>
